{% extends "base.html" %}

{% block title %}My courses{% endblock %}

{% block content %}
  <div class="container">
    <div class="container d-flex justify-content-between card-header my-1">
      <h1>My courses</h1>
      <a href="{% url "course_create" %}" class="btn btn-success btn-sm align-self-center">New</a>
    </div>
    <div class="module">
      {% for course in object_list %}
        <div class="course-info">
          <h3>{{ course.title }}</h3>
          <p>
            <a class="btn btn-secondary btn-sm" href="{% url "course_module_update" course.id %}">Edit modules</a>
            {% if course.modules.count > 0 %}
              <a class="btn btn-outline-info" href="{% url "module_content_list" course.modules.first.id %}"> Manage contents</a>
            {% endif %}
            <a class="btn btn-info btn-sm" href="{% url "course_edit" course.id %}">Edit</a>
            <a class="btn btn-danger btn-sm " href="{% url "course_delete" course.id %}">Delete</a>
          </p>
        </div>
      {% empty %}
        <p>You haven't created any courses yet.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
