{% extends "base.html" %}

{% block title %}Chat room for "{{ course.title }}"{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-8 offset-2">
        <div class="card">
          <div class="card-body">
            <div id="chat">
            </div>
            <div id="chat-input" class="d-flex">
              <input class="form-control flex-grow-1" id="chat-message-input" type="text">
              <input class="btn btn-primary ml-1" id="chat-message-submit" type="submit" value="Send">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block domready %}
  var url = 'ws://' + window.location.host + '/ws/chat/room/' + '{{ course.id }}/';
  var chatSocket = new WebSocket(url);

  chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data.message;
    var $chat = $('#chat');
    $chat.append('<div class="message">' + message + '</div>');
    $chat.scrollTop($chat[0].scrollHeight);
  }

  chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
  };

  var $input = $('#chat-message-input');
  var $submit = $('#chat-message-submit');
  $submit.click(function() {
    var message = $input.val();
    if(message) {
      // send message in JSON format
      chatSocket.send(JSON.stringify({'message': message}));
      // clear input
      $input.val('');
      // return focus
      $input.focus();
    }
  });

  $input.focus();
  $input.keyup(function(e) {
    if (e.which === 13) {
      // submit with enter / return key
      $submit.click();
      }
  });
{% endblock domready %}
